<div class="list">
    {{#each this.getPlanets as |planet|}}
        <div {{on "click" (fn this.selectedPlanet planet.id)}}>
            <PlanetItem >{{planet.name}}</PlanetItem>
        </div>
    {{/each}}
</div>
